<h1>PirateDating.com</h1>

<% pirate_name = params[:pirate][:name] %>
<% ship_1 = params[:pirate][:ships][0] %>
<% ship_2 = params[:pirate][:ships][1] %>

<h2>Ahoy, lassies! Say hello to Captain <%= pirate_name %>!</h2>
<h3><%= pirate_name %>'s Stats:</h3>
<ul>
	<li>Weight: <%= params[:pirate][:weight] %></li>
	<li>Height: <%= params[:pirate][:height] %></li>
</ul>

<h3>About <%= pirate_name %></h3>

<p><%= pirate_name %> be the proud owner of <%= ship_1[:name] %>, which be a <%= ship_1[:type] %>-type vessel, with a booty of <%= ship_1[:booty] %>! Thar she blows! His second ship be <%= ship_2[:name] %>, a <%= ship_2[:type] %>-type vessel, and she be haulin' valuable <%= ship_2[:booty] %>! Aye matey what a catch!</p>